
/* == content container styles == */
body > .container {
  margin-top: 20px;
  margin-bottom: 20px;
}

body > .container:first-child {
  
}

.title-image {
  width: 100%;
  margin-top: 60px;

}

.laptop-html {
  width: 100%;
}
